*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
:root {
    --blue: #9fb4ff;
    --orange: #FF8A65;
    --green: #89e4a3;
    --purple:#693ab7;
    --back: #f9f6f1;
    --red:#EC407A;
    /* --red:#F06292; */
    --grey:#707070;
    --g1:#d6d4d4;
    --g2:#95a9aa;
    --boxshadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  }

body{
    min-height: 100vh;
    overflow-x: hidden;

}
.container{
    position: relative;
    width: 100%;
    height: 100%;
   
}
nav{
    position: fixed;
    width: 250px;
    height: 100%;
    background-color:var(--purple) ;
    border-left: 18px solid var(--purple);
    transition: 0.5s;
    overflow: hidden;
    /* order: 1; */
}
nav.active {
    width: 85px;
  }
nav ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}
nav ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
nav ul li:hover,
nav ul li.hovered {
    background-color: var(--back);
}

nav ul li.hovered1 {
    background-color: var(--back);
}
nav ul li:nth-child(1){
    margin-bottom: 50px;
    pointer-events: none;
}
nav ul li a{
position: relative;
width: 100%;
display: flex;
text-decoration: none;
color: var(--back);
font-size: 18px;
}
nav ul li:hover a, 
nav ul li.hovered a {
    color:var(--purple) ;
    /* background-color: white; */
}
nav ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height:60px ;
    line-height: 65px;
    text-align: center;
}
nav ul li a .icon ion-icon {
    font: size 1.75em;
}
nav ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space:nowrap;
    
} 
nav ul li:hover a::before,
nav ul li.hovered a::before{
    content: "";
    position: absolute;
    right: 0;
    top: -70px;
    width:70px ;
    height: 70px;
    border-radius:50% ;
    background-color:transparent;
    box-shadow: 54px 43px 0 15px var(--back);
    pointer-events: none;
}
nav ul li:hover a::after,
nav ul li.hovered a::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -70px;
    width:70px ;
    height: 70px;
    border-radius:50% ;
    background-color:transparent;
    box-shadow: 54px -43px 0 15px var(--back);
    pointer-events: none;
}

/* main------------------------------------------------ */
.main {
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
    top: 0;
    min-height: 100vh;
    background: var(--back);
    transition: 0.5s;
  }
  .main.active {
    width: calc(100% - 85px);
    left: 85px;
}
/* tog----- */
.toggle {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    cursor: pointer;
  } 
  
   /* topbar------------- */
   .topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;

  }
.search {
    position: relative;
    width: 250px;
    margin: 0 5px;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
    /* box-shadow: 0px 10px 19px -5px rgba(0, 0, 0, 0.7); */
    box-shadow: 5px 23px 9px -19px rgb(0 0 0 / 30%);
  }
  
  .search label {
    position: relative;
    width: 100%;
    /* font-size: 10px;
    color: var(--grey); */
  }
  .search label input::placeholder{
    font-size: 14px;
    color:var(--g2);
  }
  .search label input {  width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--black2);
  }
  
  .search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.4rem;
    color: var(--purple);
  }  

  
  select{
    border: 2px solid var(--red);
    border-radius: 20px;
    color: var(--red);
    padding:3px;
 
  }

  .topbar button{
    color: white;
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 20px;
    width: 100px;
     height: 31px;
    /* margin: 10px; */
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 20px -8px rgba(0, 0, 0, 0.4);
 }
 .topbar button a{
    text-decoration: none;
    color: white;
 }
 
  

  /* table------------- */
  table{
    margin: 30px;
    margin-left: 75px;
    border-collapse: collapse;
    font-size: 16px;
    /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
    border-spacing: 0;
    border-radius: 50px;
    width: 85%;
  }

.t-all tr {
   color: var(--g2);
   min-height: 50px;
}
.t-all tr:nth-child(even) {
    background-color: #fff;
}
.t-all tr:nth-child(odd) {
   background-color:var(--g1);
}

#students th {
   padding-top: 11px;
   padding-bottom: 11px;
   background-color: var(--g1);
   color: black;
   font-size: 15px;
}
#students td,
#students th {
    text-align: center;
    padding: 8px;
}
th:first-of-type{
    border: none;
    border-top-left-radius: 40px;
}
th:last-of-type{
    border: none;
    border-top-right-radius: 40px;
}
tr:last-of-type
td:first-of-type{
    border: none;
    border-bottom-left-radius: 40px;;
}
tr:last-of-type
td:last-of-type{
    border: none;
    border-bottom-right-radius: 40px;;
}

 
